@import url('popup.css');

@font-face {
    font-family: Manrope;
    src: url('../fonts/Manrope/Manrope-VariableFont_wght.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Manrope;
}

body {
    padding: 14px 24px;
}

.content-wrapper {
    background-color: #f0f4fc;
}

.text-wrapper {
    padding: 24px 24px 18px;
}

.text-wrapper .title {
    color: #1f4284;
    font-size: 17px;
    font-weight: 500;
    line-height: 27px;
    margin-bottom: 14px;
}

.text-wrapper .text {
    color: #727272;
    font-size: 13px;
    line-height: 21px;
    margin-bottom: 18px;
}

.text-wrapper .popup-button {
    background-color: #244c98;
    background-image: url('../icons/popup-icon.svg');
    background-size: 36px 36px;
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    border-radius: 60px;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    padding: 16px 18px;
    height: 56px;
    width: 100%;
}

.text-wrapper .popup-button:hover {
    background-color: #2e61c1;
}

.image-wrapper img {
    width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    body {
        padding: 24px;
    }

    .text-wrapper {
        padding-bottom: 24px;
    }

    .text-wrapper .title {
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 24px;
    }

    .text-wrapper .text {
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 24px;
    }

    .text-wrapper .popup-button {
        max-width: 260px;
    }
}

@media (min-width: 1440px) {
    body {
        padding: 36px 40px;
    }

    .content-wrapper {
        display: flex;
    }

    .content-wrapper > div {
        flex: 50% 0 0;
    }

    .text-wrapper {
        padding: 100px 97px 100px 72px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .text-wrapper .title {
        font-size: 26px;
        line-height: 42px;
        margin-bottom: 18px;
    }

    .text-wrapper .text {
        font-size: 17px;
        line-height: 27px;
        margin-bottom: 36px;
    }

    .text-wrapper .popup-button {
        font-size: 18px;
        padding: 20px 24px;
        height: 68px;
        max-width: 340px;
    }
}

@media (min-width: 1920px) {
    .text-wrapper .title {
        font-size: 30px;
    }
}
